form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:8px;
}

#swapButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}